name: Xray Server
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Xray
        run: |
          wget https://github.com/XTLS/Xray-core/releases/latest/download/Xray-linux-64.zip -O xray.zip
          unzip xray.zip -d xray
          chmod +x xray/xray
      - name: Configure Xray
        run: |
          echo '{
            "inbounds": [{
              "port": 8080,
              "protocol": "vmess",
              "settings": {
                "clients": [{
                  "id": "3c0690e3-071e-446d-aa98-bccd65bacedc",
                  "alterId": 64
                }]
              }
            }],
            "outbounds": [{
              "protocol": "freedom",
              "settings": {}
            }]
          }' > xray/config.json
      - name: Start Xray
        run: |
          nohup ./xray/xray -config ./xray/config.json &
